<html>
<head>
	<meta charset="utf-8">
	<title>주문완료</title>
	<th:block th:replace="~{/module/link.html}"></th:block>
</head>
<body>
<div class="container py-4">
	<!-- 헤더 -->
	<th:block th:replace="~{/module/top.html}"></th:block>
	<!-- 본문 상단 -->
	<div class="p-5 mb-4 bg-primary-subtle rounded-3">
		<div class="container-fluid py-5">
			<h1 class="display-5 fw-bold">주문 완료</h1>
			<p class="col-md-8">BookMarket</p>
		</div>
	</div>
	<!-- 본문 내용 -->
	<div class="row align-items-md-stretch">
		<div class="container">
			<h2 class="alert alert-primary">주문을 완료하였습니다.</h2>
		</div>
	</div>
	<!-- 푸터 -->
	<th:block th:replace="~{/module/bottom.html}"></th:block>
</div>
</body>
</html>